{{- if eq .Values.privateNetwork.enabled false }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: apps-ingress
  annotations:
    nginx.ingress.kubernetes.io/enable-metrics: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    prometheus.io/scrape: "true"
    prometheus.io/port: "10254"
spec:
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  rules:
    - http:
        paths:
        - pathType: ImplementationSpecific # Access via http://<hostname>/app-one
          path: /app-one(/|$)(.*) 
          backend:
            service:
              name: app-one
              port:
                number: 80
        - pathType: ImplementationSpecific # Access via http://<hostname>/app-two
          path: /app-two(/|$)(.*) 
          backend:
            service:
              name: app-two
              port:
                number: 80
    {{- if .Values.ingress.host }}
      host: {{ .Values.ingress.host }}
    {{- end }}
{{- if .Values.ingress.aksManaged }} # Azure monitoring ServiceMonitor for AKS app routing metrics
---
apiVersion: azmonitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: nginx-monitor
  namespace: app-routing-system
spec:
  labelLimit: 63
  labelNameLengthLimit: 511
  labelValueLengthLimit: 1023
  selector:
    matchLabels:
      app.kubernetes.io/component: ingress-controller
      app.kubernetes.io/managed-by: aks-app-routing-operator
      app.kubernetes.io/name: nginx
  endpoints:
  - port: prometheus
{{- end }}
{{- end }}
