apiVersion: v1
kind: Secret
metadata:
  name: github-token-secret
data:
  token: {{ required "githubTokenSecret.token is required" .Values.githubTokenSecret.token | b64enc }}
{{- if eq .Values.platform "azure" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: azurefiles-secret
data:
  azurestorageaccountname: {{ required "azureFilesSecret.accountName is required" .Values.azureFilesSecret.accountName | b64enc }}
  azurestorageaccountkey: {{ required "azureFilesSecret.accountKey is required" .Values.azureFilesSecret.accountKey | b64enc }}
{{- end }}